body{
    margin: 0; height: 100vh;
    display: flex; justify-content: center; align-items: center;
    background: #0f172a; font-family: Arial;
}
.card{
    background: white;width: 300px;
    padding: 20px;border-radius: 14px;text-align: center;
}
input,button{
    display: block;width: 85%;padding: 12px;margin: 12px auto;border-radius: 8px;
}
input{
    text-align: center;
}
button{
    background: rgb(35, 64, 226);color: white;
    border: none;border-radius: 8px;
}
ul{list-style: none;padding: 0;}
li{
    display: flex;justify-content: space-between;
    font-size: 14px;margin-top: 4px;
}

h1{color: rgb(30, 31, 31);}